.wrap {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-image: url("./../../7-Shared/assests/img/bg.svg");
}

.content {
  flex: 1;
  padding-top: 100px;
  @media screen and (max-width: 728px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.content > div {
  height: 100%;
}
