.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: #fff;
}

.lnk {
  display: block;
  margin-right: 12px;
  text-decoration: underline !important;
  color: #fff;
}
