:root {
  --color-gray0: #e7ebf0;
  --color-gray1: #333333;
  --color-gray2: #4f4f4f;
  --color-gray3: #828282;
  --color-gray4: #bdbdbd;
  --color-gray5: #e0e0e0;
  --color-gray6: #f2f2f2;
  --color-gray7: #e0e3e7;
  --color-gray8: #f3f6f9;
  --color-gray9: #f8f9fb;

  --color-dark: #343434;
  --color-v-dark: #1f1d1d;
  --color-dark70: rgba(52, 52, 52, 0.7);
  --color-dark20: rgba(52, 52, 52, 0.2);
  --color-footer: #15151b;
  --color-orange: #ff9619;
  --color-light: #f2f3f5;

  --color-primary: #58034b;
  --color-primary-light: #700e57;
  --color-primary-dark: #320033;

  --color-secondary: #ffeb3b;
  --color-secondary-light: #ffff72;
  --color-secondary-dark: #c8b900;

  --color-success: #00e676;
  --color-success-light: #33eb91;
  --color-success-dark: #00e676;
}
