.title {
  margin-bottom: 24px;
  font-family: "Caveat";

  @media screen and (max-width: 728px) {
    font-size: 64px;
  }
}

.description {
  margin-bottom: 56px;
  font-family: "Raleway";
  font-size: 20px;
  letter-spacing: 0.2em;
  @media screen and (max-width: 728px) {
    font-size: 14px;
  }
}
